
.App {
    text-align: center;
    margin: 0;

}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 0 0 3rem 0;
}

.welcome-msg {
    font-size: 3rem;
}



.routes {
    display: flex;
    gap: 3rem;
}

.show-card {
    border-radius: 10px;
}

.ui-image {
    width: 100%;
}

.detail-card {
    display: flex;
    margin: 0;
}

.detail-image {
    height: 80%
}

.detail-text-div {
    margin: 3.3rem;
}

.detail-text-div p {
    font-size: 1.5rem;
}

.detail-title {
    font-size: 5rem;
}

.search {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.search h2 {
    justify-content: center;
    align-items: center;
}

.search input {
    height: 2.5rem;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: cornsilk;
  }

nav a {
    display: inline-block;
    margin: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2em;
    color: firebrick;
    border-bottom: 2px solid firebrick;
    transition: 0.1s;
  }
  
  nav a:hover,
  nav a:active {
    color: tomato;
    border-bottom: 2px solid tomato;
  }

